<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.bsd.SMJobBlessHelper</string>
	<key>ProgramArguments</key>
	<array>
		<string>This element is &quot;required&quot; by launchd (see the launchd.plist(5) man page), </string>
		<string>but it is actually replaced by SMJobBless() (see ServiceManagement.h)</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>MasterSocket</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockPathName</key>
			<string>/var/run/com.apple.SMJobBlessHelper.socket</string>
			<key>SockType</key>
			<string>Stream</string>
		</dict>
	</dict>
</dict>
</plist>
